<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
	<title>COVID 19</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  
	</head>
<body>

	<div style="border: solid;color: black">
		<header>
			<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
		<h4 style="color: cornsilk;"><img  class="col-md-1 col-lg-1 col-1" src="/static/logo.jpg"> Covid-19</h4>
		 
		
		 <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse   navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto col-md-4 mb-2 mb-lg-2">
			   
			  <li><button class="rounded-pill btn" type="button" class="active"><a href="index.html">Home</a></button></li>
			  <li><button class="rounded-pill btn" type="button" ><a href="https://public.tableau.com/profile/bisma1037#!/vizhome/tableauworkbbookfinal_16163374901030/Dashboard1?publish=yes">Anlaysis</a></button></li>
			  <li><button class="rounded-pill btn" type="button" ><a href="history.html">History</a></button></li>
			  <li><button  class="rounded-pill btn" type="button" ><a href="symptoms.html">Symptoms</a></button></li>
			  <li><button  class="rounded-pill btn" type="button" ><a href="index2.html">Predictions</a></button></li>
			  <li><button  class="rounded-pill btn" type="button" ><a href="prevention.html">Prevention</a></button></li>
		  </ul>
		  
		</div>
	  </div>
	</nav>
	
	</header>

	<section >
		<div class="container-fluid">
		<div class="row">
		 
			  
	<h1  class="text-center">What are coronaviruses?</h1>
	<div class="col-lg-6 col-md-6 col-12 "><ul>
	<li  style="text-align: justify;">Coronaviruses are a large family of zoonotic viruses that cause illness ranging from the common cold to severe respiratory diseases. Zoonotic means these viruses are able to be transmitted from animals to humans. There are several coronaviruses known to be circulating in different animal populations that have not yet infected humans. COVID-19 is the most recent to make the jump to human infection.</li>	
<hr>
	<li>Common signs of COVID-19 infection are similar to the common cold and include respiratory symptoms such as dry cough, fever, shortness of breath, and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure, and death.</li>
	<hr>	
		<li>The COVID-19 infection is spread from one person to others via droplets produced from the respiratory system of infected people, often during coughing or sneezing. According to current data, time from exposure to onset of symptoms is usually between two and 14 days, with an average of five days.
		
	</li></ul></div>
		<div class="col-md-2 col-lg-2"></div>
		<div class="col-lg-4 col-md-4 col-sm-12 text-center">
			<div class="card" >
				<video class=" mx-auto mt-2 " id="video1" width="300">
					<source src="static/video2.mp4" type="video/mp4">
					
				</video>
				<div class="card-body">
					<button type="button" onclick="PlayPause()">Play/Pause</button> 	
				</div>
			  </div>
			  <div class="card" >
				<video  class=" mx-auto mt-2"  id="video2" width="300">
					<source src="static/video3.mp4" type="video/mp4">
					
				</video>
				<div class="card-body">
					<button type="button" onclick="PlayPause1()">Play/Pause</button> 	
				</div>
			  </div>
			  <div class="card" >
				<video class=" mx-auto mt-2"  id="video3" width="300">
					<source src="static/video5.mp4" type="video/mp4">
					
				</video>
				<div class="card-body">
					<button type="button" onclick="PlayPause2()">Play/Pause</button> 	
				</div>
			  </div>
			  
		</div>
	</div>
<hr>
<div class="row">
	<div class="col-md-6 col-lg-6 mb-5">
		<img src="/static/staff-un-2.jpg">
	</div>
</div>
</div>
</section>

	
<footer>
	<div  class="container-fluid">
	<div  class="row bg-primary  ml-3">
	  <div class="col-lg-6 col-md-6 col-6">
		<img class="ml-3" src="/static/logo.jpg" width=20%>
	  </div>
		<div class="col-lg-6 col-md-6 col-6  p-5 text-center col-12"><strong>About | Contact us | Privacy Policy |Our Apps  |Advertisement</strong></div>
	  </div>
	</div>
 
  </footer>
</div>
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="/static/javascript/java8.js"></script>

</body>
</html>





