<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Active cases prediction</title>
    

   

</head>

<body>
<h1 style="text-align:center; color:antiquewhite; background-color: brown; height:100px; padding: 15px;">Active cases prediction</h1>


    
    <div class="container">
        <form  id='submit' action="{{ url_for('predict')}}" method="post">
         
            <div class="form-group">
                <label   for="Date">Date</label>
                <input  type="date" class="form-control " name="Date" id="Date" >
                <small id="emailvalid" class="form-text text-muted invalid-feedback">
                        Enter valid date
                      </small>
         </div>
     
                      <div class="form-group">
                <label for="Confirmed_Cases">Confirmed_Cases</label>
                <input type="text" class="form-control" id="Confirmed_Cases" name='Confirmed_cases' placeholder="Enter your username">
                <small id="namevalid" class="form-text text-muted invalid-feedback">
                    Input must be 2-10 characters long and should not contain any alphabet.
                      </small>
                      </div>

            <div class="form-group">
                <label for="Recovered_Cases">Recovered_Cases</label>
                <input type="text" class="form-control" id="Recovered_Cases" name='Recovered_cases'  placeholder="Enter your email">
                <small id="emailvalid" class="form-text text-muted invalid-feedback">
                    Input must be 2-10 characters long and should not contain any alphabet.
                      </small>
            </div>
            
            <div class="form-group">
                <label for="Deaths_Cases">Deaths_Cases</label>
                <input class="form-control" name="Deaths_cases" id="Deaths_Cases" rows="3">
                <small id="emailvalid" class="form-text text-muted invalid-feedback">
                    Input must be 2-10 characters long and should not contain any alphabet.
                      </small>
            </div>
            <div class="form-group">
     <label for="Province">Province</label>
              <select name="Province" id="Province" class="form-control">
                <option value="Punjab">Punjab</option>
                <option value="Sindh">Sindh</option>
                <option value="Baluchistan">Baluchistan</option>
                <option value="Khyber_Pakhtunkhwa">Khyber_Pakhtunkhwa</option>
                <option value="Islamabad_Capital_Territory">Islamabad_Capital_Territory</option>
                <option value="Federal_Admininistration_Tribal_Area">Federal_Admininistration_Tribal_Area</option>
                <option value="Gilgit_Baltistan">Gilgit_Baltistan</option>
            </select>
            <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your username must be 4-10 characters long and should not contain  any number.                  </small>
            </small>
        </div>      
        <div class="form-group">
            <label for="Travel_history">Travel_History</label>
           <select name="Travel_history" id="Travel_history" class="form-control">
                                <option value="Travel_history_China">Travel_history_China</option>
                                <option value="Travel_history_Dubai">Travel_history_Dubai</option>
                                <option value="Travel_history_International_Passenger">Travel_history_International_Passenger</option>
                                <option value="Travel_history_Jail">Travel_history_Jail</option>
                                <option value="Travel_history_KSA">Travel_history_KSA</option>
                                <option value="Travel_history_Tableeghi_Jamaat">Travel_history_Tableeghi_Jamaat</option>
                                <option value="Travel_history_Syria">Travel_history_Syria</option>
                                <option value="Travel_history_UK">Travel_history_UK</option>
                                <option value="Travel_history_USA">Travel_history_USA</option>
                                <option value="Travel_history_Local_Social_Contact">Travel_history_Local_Social_Contact</option>                              
                                <option value="Travel_history_Iran_Taftan">Travel_history_Iran_Taftan</option>
                                <option value="Travel_history_Unknown">Travel_history_Unknown</option>
                                <option value="Local_Covid_Relative"> Local_Covid_Relative</option>

                            </select>   
                            <small id="emailvalid" class="form-text text-muted invalid-feedback">
                                Your username must be 4-10 characters long and should not contain  any number.                                  </small>
     </div>
         <div  style="border-radius: 5rem;" class="form-group">
            <label for="City">  City</label>    
         <input id="City"  class="form-control"  name="City" required="required">
         <small id="Cityvalid" class="form-text text-muted invalid-feedback">
            Your username must be 4-10 characters long and should not contain  any number.
          </small>

</div>
         
             
            <button style="direction:inherit;" type="submi ">prediction</button>
            <h2 style="border:blue">{{prediction_texts}}</h2>

            <button style="direction:inherit;"  id="go back" onclick="myFunction4()">go back</button>
            

     </form>
    </div>


     


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<script src= "/static/javascript/k23.js" type="text/javascript"></script>
</body>
</html>

