<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <h4 style="color: cornsilk;"><img  class="col-md-1 col-lg-1 col-1" src="/static/logo.jpg"> Covid-19</h4>
               
              
               <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse   navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto col-md-4 mb-2 mb-lg-2">
                     
                    <li><button class="rounded-pill btn" type="button" class="active"><a href="index.html">Home</a></button></li>
                    <li><button class="rounded-pill btn" type="button" ><a href="analysis.html">Anlaysis</a></button></li>
                    <li><button class="rounded-pill btn" type="button" ><a href="history.html">History</a></button></li>
                    <li><button  class="rounded-pill btn" type="button" ><a href="symptoms.html">Symptoms</a></button></li>
                    <li><button  class="rounded-pill btn" type="button" ><a href="index2.html">Predictions</a></button></li>
                    <li><button  class="rounded-pill btn" type="button" ><a href="prevention.html">Prevention</a></button></li>
                </ul>
                
              </div>
            </div>
          </nav>
          
    </header>
    
</body>
</html>